html {
    height: 100%;
}


body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-color: #000066;
    /* background-image: radial-gradient(#09, yellow, green); */
    background-image:  url("../img/backround-images.jpg");
    background-size: 100% 100%;
    color: whitesmoke;
}

.nav{
    height: 30px;
    padding: 0px 20px;
    background-color: whitesmoke;
}


.nav{
    height: 30px;
    padding: 0px 20px;
    background-color: whitesmoke;
}


.nav-icon{
    height: 15px;
    width: 15px;
}

nav p{
    color: black;
    font-family: Neuropolitical-Regular;
    font-size: 1em;
    position: sticky-top;
}
.nav-right{
    margin: 0px 5px 2px auto;
    color: #1a305a;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
}
.far{
    color: gray;
    font-size: 1.1em;
}

.fas{
    color: rgb(87, 57, 57);
    font-size: 1.1em;
}


#menu-show{
    /* display: block; */
    margin-top: 10px;
    /* padding: 15px 0px; */
    border-radius: 10px;
    background-image:  url("../img/backround-images.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    position: absolute;
    right: 0;
}

.menu-show-action{
    display: block;
}

#menu-show a{
    display: block;
    color: white;
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 18px;
}

#menu-show a:hover{
    text-decoration: none;
    background-color: gray;
}

.title-section{
    height: 80px;
    border-bottom: 4px solid white;
    padding: 5px 10px;
    /* position: relative; */
}

.fa-arrow-left{
    font-size: 2em;
    margin:14px;;
}

.title-right{
    display: inline-block;
    margin: 15px 0px 2px auto;
    color: whitesmoke;
    font-weight: 700;
    font-size: 1.2em;
    /* position: absolute; */
    right: 20px;
    top: 15px;
    float: right;
}
#title-text{
    font-weight: 400;
    margin-top: 30px;
}

.title-right img{
    height: 32px;
    margin-bottom: 13px;
    display: inline-block;
}

.title-right h2{
    display: inline;
}

.histo-div{
    width: 250px;
    height: 200px;
    margin: 0 auto;
}

.histo-img{
    width: 250px;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
}


.img-details{
    margin-top: 40px;
}

.info-text{
    width: 250px;
    height: 150px;
    margin: 10px auto;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.info-text table{
    width: 100%;
    height: 100%;
}

td img{
    width: 15px;
    height: 15px;
    padding-right: 2px;
}


.main-img-div{
    margin: 31px auto;
    width: 150px;
    height: 150px;
}

.main-img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.main-img-btn{
    margin: 15px auto;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    display: block;
}

.test-histo-section{
    visibility: hidden;
}
.source-histo-section{
    visibility: hidden;
}


.analysis-btn-section{
    margin: 0 auto;
}

.info-text{
    font-size: 0.8em;
}



#back-btn{
    cursor: pointer;
    width: 30px;
    height: auto;
    margin: 14px;
}


.loading-section{
    width: 200px;
    margin: 0 auto;
    display: none;
}


@media only screen and (max-width: 1000px) {
  h5{
      margin-top: 35px;
  }
}



 @keyframes lds-magnify {
                0% {
                    -webkit-transform: translate(2px, 2px);
                    transform: translate(2px, 2px);
                }
    
                33.33% {
                    -webkit-transform: translate(102px, 2px);
                    transform: translate(102px, 2px);
                }
    
                66.66% {
                    -webkit-transform: translate(42px, 102px);
                    transform: translate(42px, 102px);
                }
    
                100% {
                    -webkit-transform: translate(2px, 2px);
                    transform: translate(2px, 2px);
                }
            }
    
            @-webkit-keyframes lds-magnify {
                0% {
                    -webkit-transform: translate(2px, 2px);
                    transform: translate(2px, 2px);
                }
    
                33.33% {
                    -webkit-transform: translate(102px, 2px);
                    transform: translate(102px, 2px);
                }
    
                66.66% {
                    -webkit-transform: translate(42px, 102px);
                    transform: translate(42px, 102px);
                }
    
                100% {
                    -webkit-transform: translate(2px, 2px);
                    transform: translate(2px, 2px);
                }
            }
    
            .lds-magnify {
                position: relative;
            }
    
            .lds-magnify>div {
                -webkit-transform: scale(0.8);
                transform: scale(0.8);
                -webkit-transform-origin: 100px 100px;
                transform-origin: 100px 100px;
            }
    
            .lds-magnify>div>div {
                -webkit-animation: lds-magnify 1s linear infinite;
                animation: lds-magnify 1s linear infinite;
                position: absolute;
            }
    
            .lds-magnify>div>div div:nth-child(1) {
                width: 96px;
                height: 96px;
                border-radius: 50%;
                border: 12px solid #df1317;
                background: #e4934b;
            }
    
            .lds-magnify>div>div div:nth-child(2) {
                width: 17px;
                height: 51px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                background: #df1317;
                border-radius: 0 0 8px 8px;
                position: absolute;
                top: 68px;
                left: 85px;
            }
    
            .lds-magnify {
                width: 200px !important;
                height: 200px !important;
                -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
                transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
            }

