html {
    height: 100%;
}


body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-color: #000066;
    /* background-image: radial-gradient(#09, yellow, green); */
    background-image:  url("../img/backround-images.jpg");
    background-size: 100% 100%;
    color: whitesmoke;
}

.nav{
    height: 30px;
    padding: 0px 20px;
    background-color: whitesmoke;
}


.nav-icon{
    height: 15px;
    width: 15px;
}

nav p{
    color: black;
    font-family: Neuropolitical-Regular;
    font-size: 1em;
    position: sticky-top;
}
.nav-right{
    margin: 0px 5px 2px auto;
    color: #1a305a;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
}
.far{
    color: gray;
    font-size: 1.1em;
}

.fas{
    color: rgb(87, 57, 57);
    font-size: 1.1em;
}


#menu-show{
    /* display: block; */
    margin-top: 10px;
    /* padding: 15px 0px; */
    border-radius: 10px;
    background-image:  url("../img/backround-images.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
    position: absolute;
    right: 0;
    opacity: 1;
}

.menu-show-action{
    display: block;
}

#menu-show a{
    display: block;
    color: white;
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 18px;
}

#menu-show a:hover{
    text-decoration: none;
    background-color: gray;
}
.title-section{
    height: 80px;
    border-bottom: 4px solid white;
    padding: 5px 10px;
    /* position: relative; */
    
}

.fa-arrow-left{
    font-size: 2em;
    margin:14px;;
}

.title-right{
    display: inline-block;
    margin: 15px 0px 2px auto;
    color: whitesmoke;
    font-weight: 700;
    font-size: 1.2em;
    /* position: absolute; */
    right: 20px;
    top: 15px;
    float: right;    

}

#title-text{
    font-weight: 400;
    margin-top: 30px;
}

.title-right img{
    height: 32px;
    margin-bottom: 13px;
    display: inline-block;
}

.title-right h2{
    display: inline;
}

.main-section{
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 200px;
}

.box-section{
    display: inline-block;
    width: 150px;
    margin: 0 auto;
}

.box-section h5{
    margin-top: 20px;
    text-align: center;
}

.box-left{
    margin:0 90px;
}
#double-photo{
    background: cornsilk url('../img/double-photo.png') no-repeat;
    background-size: 150px 150px;
}
#database{
    background: cornsilk url('../img/Photo-database.png') no-repeat;
    background-size: 150px 150px;
}

.box-right{
    margin:0 90px;
}

.box{
    margin: 0px;
    width: 100%;
    height: 150px;
    background: whitesmoke;
    display: inline-block;
    border-radius:10px;
    cursor: pointer;
    position: relative;
}
#next-btn{
    display: block;
    margin: 40px auto;
    text-transform: uppercase;
    width: 150px;
    font-weight: 700;
    border: 1px solid #1a3051;
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}


.box img{
    width: 20%;
    position: absolute;
    top: 5px;
    right: 10px;
    display: none;
}

#back-btn{
    cursor: pointer;
    width: 30px;
    height: auto;
    margin: 14px;
}


@media only screen and (max-width: 1345px) {
  #next-btn{
      left: 25%;
  }
}



